:root {
    --marron: #B5986D;
    --azulOscuro: #021222;
    --blanco: #FFFFFF;
    --h1: 1.4rem;
    --h2: 1.2rem;
    /* --h3: 1.1rem; */
    --h4: 1.1rem;
    --h5: 0.9rem
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--azulOscuro);
    font-family: 'Noto Serif SC', serif;
    font-size: 62.5%;
    color: var(--blanco);
}

/* inicio del HEADER */

header {
    width: 100vw;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
}

.logo {
    width: 60px;
}

.toggleMenu {
    width: 25px;
}

/* MAIN */

.section {
    margin: 0 20px;
}

/* section titulo */
.sectionTitulo {
    height: 35vh;
    background-image: url("../assets/img/menu/sectionTitulo.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.3rem;
}

/* section links */
ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

a {
    color: var(--blanco);
    text-decoration: none;
    opacity: 0.7;
}

.active {
    color: var(--marron);
    text-decoration: underline;
}

/* section menu sombra */
.sectionMenuSombra div {
    margin-top: 40px;
}

.h2Principal {
    text-decoration: underline;
    color: var(--marron);
    font-size: 1.3rem;
    position: relative;
}

.h2Sombra {
    opacity: 0.1;
    font-size: 2.3rem;
    /* position: absolute; */
    /* top: 250px; */
    position: relative;
    bottom: 50px;
}

/* section menues principal */
.sectionMenuesPrincipal article {
    margin-bottom: 30px;
}

.sectionMenuesPrincipal article div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--marron);
    padding-bottom: 8px;
}

.sectionMenuesPrincipal article div h3 {
    font-size: 1rem; 

}

.sectionMenuesPrincipal article div h5 {
    font-size: 0.9rem;
    color: #B5986D;

}

.sectionMenuesPrincipal article h4 {
    width: 40vw;
    padding-top: 8px;
    font-size: 0.7rem;
    opacity: 0.6; 
}


/* section reservas */
.sectionReservas h2 {
    text-align: center;
    margin: 20px;
}

.sectionReservas {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formIndex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 340px;
    gap: 20px;
}

.divForm {
    width: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.inputs {
    background:none;
    border:none;
    border-bottom: 0.5px solid var(--blanco);
    text-align: center;
    color: var(--blanco);
    padding-bottom: 4px;
}

.labels {
    opacity: 0.6;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 10px;
    font-style: italic;
}

.buttonReserva {
    width: fit-content;
    margin: 25px auto 16px;
    padding: 8px;
    background: none;
    border: 1px solid var(--marron);
    border-radius: 4px;
    height: 30px;
}

.buttonReserva:hover {
    background-color: var(--marron);
    color: var(--blanco);
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-top: 0.5px solid var(--marron);
    /* margin: 0 20px; */
}

footer ul {
    display: flex;
    list-style: none;
}

footer ul li {
    padding: 10px;
}

footer ul li a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 0.5rem;

}

@media screen and (min-width: 768px) {
    /* HEADER */
    header {
        padding: 40px 10vw;
    }

    .logo {
        width: 90px;
    }

    .toggleMenu {
        width: 30px;
    }

    .section {
        margin: 0 80px;
    }

    /* section titulo */

    .sectionTitulo h1 {
        font-size: 3rem;
    }

    /* section links */
    .sectionLinks {
        margin-top: 20px;
        align-items: center;
    }

    .sectionLinks a {
        font-size: 0.9rem;
    }

    /* section menu sombra */
    .sectionMenuSombra {
        max-width: 40vw;
        margin: 0 auto;
    }

    .sectionMenuSombra div {
        margin-top: 60px;
    }

    .h2Principal {
        font-size: 2rem;
    }

    .h2Sombra {
        font-size: 3rem;
        bottom: 65px;
    }

/* section menues principal */
    .sectionMenuesPrincipal {
        max-width: 40vw;
        margin: 0 auto;
    }

    .sectionMenuesPrincipal article {
        margin-bottom: 30px;
    }

    .sectionMenuesPrincipal article div {
        padding-bottom: 12px;
    }

    .sectionMenuesPrincipal article div h3 {
        font-size: 1.5rem; 

    }

    .sectionMenuesPrincipal article div h5 {
        font-size: 1.2rem;
    }

    .sectionMenuesPrincipal article h4 {
        max-width: 30vw;
        padding-top: 12px;
        font-size: 0.9rem;
    }
    

    /* section reservas */
    .sectionReservas {
        margin-top: 100px;
    }

    .sectionReservas h2 {
        font-size: 1.6rem;
    }

    .formIndex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90vw;
        gap: 20px;
    }

    .inputs {
        font-size: 1rem;
        padding-bottom: 4px;
    }
    
    .labels {
        font-size: 0.8rem;
    }

    .buttonReserva {
        font-size: 0.8rem;
        padding: 8px;
        height: 35px;
    }

     /* footer */
     footer ul li a {
        font-size: 0.8rem;
        /* opacity: 1; */
    }

    







}