:root {
    --marron: #B5986D;
    --azulOscuro: #021222;
    --blanco: #FFFFFF;
    --h1: 1.4rem;
    --h2: 1.2rem;
    /* --h3: 1.1rem; */
    --h4: 1.1rem;
    --h5: 0.9rem
    /* 
font-family: 'Noto Serif SC', serif;

#F8F8F8
#FAFAFA*/

}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--azulOscuro);
    font-family: 'Noto Serif SC', serif;
    font-size: 62.5%;
    color: var(--blanco);
}
h1 {
    font-size: var(--h1);
    font-weight: 200;
    line-height: 32px;
}

h2 {
    text-decoration:underline;
    font-size: var(--h2);
    text-align: center;
}

section {
    padding: 20px;
    /* width: 90vw; */
    font-size: 0.7rem;

}

button {
    background: none;
    border: 1px solid var(--blanco);
    border-radius: 4px;
    height: 30px;
}

button:hover {
    background-color: var(--marron);

}

button a {
    text-decoration: none;
    color: var(--blanco);
    font-family: 'Bodoni Moda', serif;
}

button a:hover {
    text-decoration: underline;    
}
/* inicio del HEADER */
header {
    width: 100vw;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
}

.logo {
    width: 60px;
}

.toggleMenu {
    width: 25px;
}
/* fin */

/* inicio del MAIN */
/* sectionPrincipal */
.sectionPrincipal {
    width: 100vw;
    height: 50vh;
    padding-top: 7vh ;
    background-image: url("../assets/img/index/mainPrincipal.jpg");
    background-size: cover;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.sectionPrincipal p {
    margin-bottom: 4vh;
}

/* section sobre nosotros */
.leerMasdiv {
    display: flex;
    align-items: center;
}

.leerMas {
    color: var(--marron);
    font-size: 0.6rem;
    padding-right: 8px;
    text-decoration: none;
}

i {
    font-size: 0.8rem;
    color: var(--marron);
}

/* section frase */
.sectionFrase {
    /* height: 50vh; */
    background-image: url("../assets/img/index/phrase.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* gap: 300px; */
}

.sectionFrase img {
    width: 50px;
    padding-bottom: 10px;
}

.sectionFrase div {
    text-align: center;
    width: 80vw;
    margin: 0 auto;
    font-size: var(--h2);

}

.sectionFrase p:nth-child(3) {
    font-weight: bold;
    padding-top: 10px;
    opacity: 0.7;
    font-style: italic;
    font-size: 0.8rem;
}

/* section Menu */

.sectionNuestroMenu img {
    display: none;
}

.sectionNuestroMenu__menu {
    border-radius: 12px;
    background-color: var(--marron);
    padding: 20px  ;
}

.sectionNuestroMenu__menu h4 {
    font-size: var(--h4);
    font-style: italic;
    text-align: center;
}

.sectionNuestroMenu__menu article {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sectionNuestroMenu__menu h5 {
    font-size: var(--h5);
    margin: 0;
    padding-right: 10px;
}

.sectionNuestroMenu__menu article p {
    font-style: italic;
}

/* section galeria de fotos */
.sectionGaleriaFotos__carrousel {
    display: flex;
    justify-content: center;
    width: 90vw;
    padding: 0%;
    gap: 10px;
}

.galeriaFoto1 {
    width: 80vw;
}

.flecha {
    width: 20px;
}

/* section reservas */
.sectionReservas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 30px; */
}

.formIndex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 340px;
    gap: 20px;
}

.divForm {
    width: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.inputs {
    background:none;
    border:none;
    border-bottom: 0.5px solid var(--blanco);
    text-align: center;
    color: var(--blanco);
    padding-bottom: 4px;
}

.labels {
    opacity: 0.6;
    text-align: left;
    padding-bottom: 10px;
    font-style: italic;
}

.buttonReserva {
    width: fit-content;
    margin: 25px auto 0;
}









/* contactanos */
/* .sectionContactanos img {
    width: 70vw;
} */
.sectionContactanos {
    background-image: url("../assets/img/index/contactUs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}